<a href="https://colab.research.google.com/github/malraharsh/DLF-Index-Replication-Autoencoder/blob/master/Gathering_Index_Data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!git clone https://github.com/PacktPublishing/Hands-On-Deep-Learning-for-Finance.git

Cloning into 'Hands-On-Deep-Learning-for-Finance'...
remote: Enumerating objects: 63, done.
remote: Counting objects: 100% (63/63), done.
remote: Compressing objects: 100% (63/63), done.
remote: Total 38102 (delta 31), reused 0 (delta 0), pack-reused 38039
Receiving objects: 100% (38102/38102), 1.66 GiB | 32.19 MiB/s, done.
Resolving deltas: 100% (136/136), done.
Checking out files: 100% (160139/160139), done.

In [2]:
%cd /content/Hands-On-Deep-Learning-for-Finance/Index Replication by Auto-encoders

/content/Hands-On-Deep-Learning-for-Finance/Index Replication by Auto-encoders

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import pandas_datareader.data as pdr

In [6]:
!ls data

nasdaq100_6y.pkl  nasdaq100_index_6y.pkl  nasdaq100_stocks.csv

In [7]:
stocks = pd.read_csv('data/nasdaq100_stocks.csv')

In [8]:
stocks.head()

    ATVI
0   ADBE
1    AMD
2   ALXN
3   ALGN
4  GOOGL

In [11]:
stocks_symbols = stocks.squeeze().values
stocks_symbols

array(['ADBE', 'AMD', 'ALXN', 'ALGN', 'GOOGL', 'GOOG', 'AMZN', 'AAL',
       'AMGN', 'ADI', 'AAPL', 'AMAT', 'ASML', 'ADSK', 'ADP', 'BIDU',
       'BIIB', 'BMRN', 'BKNG', 'AVGO', 'CDNS', 'CELG', 'CERN', 'CHTR',
       'CHKP', 'CTAS', 'CSCO', 'CTXS', 'CTSH', 'CMCSA', 'COST', 'CSX',
       'CTRP', 'DLTR', 'EBAY', 'EA', 'EXPE', 'FB', 'FAST', 'FISV', 'FOX',
       'FOXA', 'GILD', 'HAS', 'HSIC', 'IDXX', 'ILMN', 'INCY', 'INTC',
       'INTU', 'ISRG', 'JBHT', 'KLAC', 'LRCX', 'LBTYA', 'LBTYK', 'LULU',
       'MAR', 'MELI', 'MCHP', 'MU', 'MSFT', 'MDLZ', 'MNST', 'MYL', 'NTAP',
       'NFLX', 'NVDA', 'NXPI', 'ORLY', 'PCAR', 'PAYX', 'PEP', 'QCOM',
       'REGN', 'ROST', 'SIRI', 'SWKS', 'SBUX', 'SYMC', 'SNPS', 'TMUS',
       'TTWO', 'TSLA', 'TXN', 'ULTA', 'UAL', 'VRSN', 'VRSK', 'VRTX',
       'WBA', 'WDAY', 'WDC', 'WLTW', 'WYNN', 'XEL', 'XLNX'], dtype=object)

In [ ]:
index_symbol = '^NDX'

start_date = '2010-01-01'
end_date = '2018-01-01'

stock_data = pd.DataFrame()
stock_data[index_symbol] = pdr.DataReader(index_symbol, 'yahoo', start_date, end_date)['Adj Close']

In [15]:
for symbol in stocks_symbols:
    try:
        stock_data[symbol] = pdr.DataReader(symbol, 'yahoo', start_date, end_date)['Adj Close']
    except:
        pass

In [16]:
stock_data.head()

                   ^NDX       ADBE   AMD  ...       WYNN        XEL       XLNX
Date                                      ...
2010-01-04  1886.699951  37.090000  9.70  ...  41.963718  14.312444  19.959499
2010-01-05  1888.430054  37.700001  9.71  ...  44.515926  14.142703  19.707844
2010-01-06  1878.420044  37.619999  9.57  ...  43.932011  14.169861  19.574154
2010-01-07  1876.719971  36.889999  9.47  ...  44.870213  14.108753  19.377548
2010-01-08  1892.589966  36.689999  9.43  ...  44.548744  14.115545  19.660666

[5 rows x 93 columns]

In [17]:
stock_data = stock_data.dropna()

In [22]:
stock_data['^NDX'].to_pickle('NASDAQ_INDEX.pkl')
stock_data.iloc[:, 1:].to_pickle('NASDAQ_STOCKS.pkl')